$bg-color: #000;
$color: #fff;
$colorFade: #4e5559;

$widthMouse: 52px;
$heightMouse: 88px;
$borderMouse: 6px;

$posMouse: 8px;
$posText: 2px;

$sizeTrackball: 10px;
$posTrackball: 20px;
$shrinkTrackball: 0.4;

$animDuration: 5s;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $bg-color;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@keyframes colorSlide {
  0% {
    background-position: 0% 100%;
  }
  20% {
    background-position: 0% 0%;
  }
  21% {
    background-color: $colorFade;
  }
  29.99% {
    background-color: $color;
    background-position: 0% 0%;
  }
  30% {
    background-color: $colorFade;
    background-position: 0% 100%;
  }
  50% {
    background-position: 0% 0%;
  }
  51% {
    background-color: $colorFade;
  }
  59% {
    background-color: $colorFade;
    background-position: 0% 0%;
  }
  60% {
    background-color: $colorFade;
    background-position: 0% 100%;
  }
  80% {
    background-position: 0% 0%;
  }
  81% {
    background-color: $colorFade;
  }
  90%,
  100% {
    background-color: $color;
  }
}

@keyframes trackBallSlide {
  0% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  6% {
    opacity: 1;
    transform: scale(0.9) translateY($posTrackball/4);
  }
  14% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY($posTrackball * 2);
  }
  15%,
  19% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY(-$posTrackball);
  }
  28%,
  29.99% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  30% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  36% {
    opacity: 1;
    transform: scale(0.9) translateY($posTrackball/4);
  }
  44% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY($posTrackball * 2);
  }
  45%,
  49% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY(-$posTrackball);
  }
  58%,
  59.99% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  60% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
  66% {
    opacity: 1;
    transform: scale(0.9) translateY($posTrackball/4);
  }
  74% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY($posTrackball * 2);
  }
  75%,
  79% {
    opacity: 0;
    transform: scale($shrinkTrackball) translateY(-$posTrackball);
  }
  88%,
  100% {
    opacity: 1;
    transform: scale(1) translateY(-$posTrackball);
  }
}

@keyframes nudgeMouse {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY($posMouse);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY($posMouse);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY($posMouse);
  }
  90% {
    transform: translateY(0);
  }
}

@keyframes nudgeText {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY($posText);
  }
  30% {
    transform: translateY(0);
  }
  50% {
    transform: translateY($posText);
  }
  60% {
    transform: translateY(0);
  }
  80% {
    transform: translateY($posText);
  }
  90% {
    transform: translateY(0);
  }
}

@keyframes colorText {
  21% {
    color: $colorFade;
  }
  30% {
    color: $color;
  }
  51% {
    color: $colorFade;
  }
  60% {
    color: $color;
  }
  81% {
    color: $colorFade;
  }
  90% {
    color: $color;
  }
}

.teaser {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20em;
  padding: 2em;
  background-color: $bg-color;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color;
  text-transform: uppercase;

  .description {
    margin-top: 50px;
    letter-spacing: 12px;
    text-indent: 12px;
    color: $color;
    animation: colorText $animDuration ease-out infinite,
      nudgeText $animDuration ease-out infinite;
  }

  .mouse {
    background: $colorFade
      linear-gradient(transparent 0%, transparent 50%, $color 50%, $color 100%);
    position: relative;
    width: $widthMouse;
    height: $heightMouse;
    border-radius: 100px;
    background-size: 100% 200%;
    animation: colorSlide $animDuration linear infinite,
      nudgeMouse $animDuration ease-out infinite;

    &:before,
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
    }

    &:before {
      width: $widthMouse - $borderMouse;
      height: $heightMouse - $borderMouse;
      background-color: $bg-color;
      border-radius: 100px;
    }

    &:after {
      background-color: $color;
      width: $sizeTrackball;
      height: $sizeTrackball;
      border-radius: 100%;
      animation: trackBallSlide $animDuration linear infinite;
    }
  }
}

.scroll {
  min-height: 100vh;
  color: $color;
  margin-bottom: 100vh;
}

.background {
  padding: 2em;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;

  .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30em;
    min-height: 100vh;
    object-fit: cover;
    transition: opacity 1600ms;
    opacity: 0;
  }
}

.block {
  position: relative;
  height: 30em;
  min-height: 100vh;
  z-index: 1;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 2em;

  .title {
    font-size: 3em;
  }

  .text {
    max-width: 400px;
    line-height: 2em;
    margin-top: 1em;
    font-size: 1.1em;
  }
}

.block_center {
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.block_right {
  justify-content: flex-end;
  width: 80%;
}

.block_left {
  justify-content: flex-start;
  float: right;
  width: 80%;
}

.panel {
  width: 90%;
  max-width: 25em;
  padding: 2.5em;
  background: rgba(170, 170, 170, 0.27);
  box-shadow: 0 8px 32px 0 rgba(40, 40, 40, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 5px;

  .title {
    font-size: 2em;
  }

  .text {
    line-height: 2em;
    margin-top: 1em;
    font-size: 1.1em;
  }
}

.about {
  color: $color;
  padding: 2.5em;
  height: 100vh;

  .title {
    font-size: 3em;
  }

  .text {
    line-height: 2em;
    font-size: 1.1em;
    margin: 2em 0;
  }
}

.image_active {
  z-index: 2 !important;
  opacity: 1 !important;
}

@media screen and (max-height: 450px) {
  .scroll {
    margin-bottom: 30em;
  }
}
